In [1]:
# rising-temperature

In [3]:
import pandas as pd
import datetime as dt

In [4]:
# +----+------------+-------------+
# | id | recordDate | temperature |
# +----+------------+-------------+
# | 1  | 2015-01-01 | 10          |
# | 2  | 2015-01-02 | 25          |
# | 3  | 2015-01-03 | 20          |
# | 4  | 2015-01-04 | 30          |
# +----+------------+-------------+

In [7]:
dt.date(2015,1,1)

datetime.date(2015, 1, 1)

In [10]:
df = pd.DataFrame({
    "id": [1,2,3,4],
    "recordDate": [dt.date(2015,1,1), dt.date(2015,1,2), dt.date(2015,1,3), dt.date(2015,1,4)],
    "temperature": [10, 25, 20, 30]
})

In [11]:
df.head()

   id  recordDate  temperature
0   1  2015-01-01           10
1   2  2015-01-02           25
2   3  2015-01-03           20
3   4  2015-01-04           30

In [15]:
df["previousDate"] = df["recordDate"] - pd.DateOffset(days=1)

In [16]:
df.head()

   id  recordDate  temperature previousDate
0   1  2015-01-01           10   2014-12-31
1   2  2015-01-02           25   2015-01-01
2   3  2015-01-03           20   2015-01-02
3   4  2015-01-04           30   2015-01-03

In [22]:
df[["recordDate", "temperature"]]

   recordDate  temperature
0  2015-01-01           10
1  2015-01-02           25
2  2015-01-03           20
3  2015-01-04           30

In [26]:
df["temperature"].shift(1)

0     NaN
1    10.0
2    25.0
3    20.0
Name: temperature, dtype: float64

In [24]:
df_yesterday = df[["previousDate"]]
df_yesterday.columns = ["recordDate"] 
df_yesterday_join = pd.merge(df_yesterday, df[["recordDate", "temperature"]], on="recordDate")

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat

In [27]:
df["yesterdayTemp"] = df["temperature"].shift(1)

In [28]:
df.head()

   id  recordDate  temperature previousDate  yesterdayTemp
0   1  2015-01-01           10   2014-12-31            NaN
1   2  2015-01-02           25   2015-01-01           10.0
2   3  2015-01-03           20   2015-01-02           25.0
3   4  2015-01-04           30   2015-01-03           20.0

In [29]:
df = pd.DataFrame({
    "id": [1,2,3,4],
    "recordDate": [dt.date(2015,1,1), dt.date(2015,1,2), dt.date(2015,1,3), dt.date(2015,1,4)],
    "temperature": [10, 25, 20, 30]
})

In [30]:
df = df.sort_values("recordDate")
df["yesterdayTemp"] = df["temperature"].shift(1)
df.head()

   id  recordDate  temperature  yesterdayTemp
0   1  2015-01-01           10            NaN
1   2  2015-01-02           25           10.0
2   3  2015-01-03           20           25.0
3   4  2015-01-04           30           20.0

In [31]:
df_result = df[df["temperature"] > df["yesterdayTemp"]]

In [35]:
df["lastDate"] = df["recordDate"].shift(1)
df["diff"] = df["recordDate"] - df["lastDate"]
df.head()

   id  recordDate  temperature  yesterdayTemp    lastDate   diff
0   1  2015-01-01           10            NaN        None    NaT
1   2  2015-01-02           25           10.0  2015-01-01 1 days
2   3  2015-01-03           20           25.0  2015-01-02 1 days
3   4  2015-01-04           30           20.0  2015-01-03 1 days

In [42]:
df[df["diff"].dt.days==1]

   id  recordDate  temperature  yesterdayTemp    lastDate   diff
1   2  2015-01-02           25           10.0  2015-01-01 1 days
2   3  2015-01-03           20           25.0  2015-01-02 1 days
3   4  2015-01-04           30           20.0  2015-01-03 1 days

In [32]:
df_result["id"]

1    2
3    4
Name: id, dtype: int64

In [43]:
import pandas as pd

def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    df = weather
    df = df.sort_values("recordDate")
    df["yesterdayTemp"] = df["temperature"].shift(1)
    df["lastDate"] = df["recordDate"].shift(1)
    df["diff"] = df["lastDate"] - df["recordDate"]
    df_result = df[df["temperature"] > df["yesterdayTemp"]]
    df_result = df_result[df_result["diff"].dt.days==-1]
    return df_result[["id"]]