In [8]:
import pandas as pd

# Create lists of data
players = [1, 1, 2, 3, 3]
devices = [2, 2, 3, 1, 4]
event_dates = ["2016-03-01", "2016-05-02", "2017-06-25", "2016-03-02", "2018-07-03"]
games_played = [5, 6, 1, 0, 5]

# Create a DataFrame
df = pd.DataFrame(list(zip(players, devices, event_dates, games_played)), columns = ['player_id', 'device_id', 'event_date', 'games_played'])

# Print the DataFrame
print(df)

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [9]:
df.head()

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [10]:
df = df.groupby("player_id").agg({"event_date":["min"]}).reset_index()
df.columns = ["player_id", "first_login"]

In [11]:
df

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

In [12]:

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    df = activity
    df = df.groupby("player_id").agg({"event_date":["min"]}).reset_index()
    df.columns = ["player_id", "first_login"]
    return df