In [1]:

# Write your MySQL query statement below
"""
WITH score_table AS 
(SELECT st.student_id, st.student_name, ex.subject_name, COUNT(ex.student_id) as attended_exams
FROM students st
LEFT JOIN examinations ex ON st.student_id = ex.student_id 
GROUP BY st.student_id, st.student_name, ex.subject_name
)
SELECT sc.student_id, sc.student_name, sc.subject_name, attended_exams
FROM score_table sc
CROSS JOIN subjects s ON sc.subject_name = s.subject_name
"""

In [ ]:
"""
# Write your MySQL query statement below
WITH student_subject_table as (
    SELECT student_id, student_name, subject_name 
    FROM students
    CROSS JOIN subjects 
) 
WITH score_table AS 
(SELECT st.student_id, st.student_name, ex.subject_name, COUNT(ex.student_id) as attended_exams
FROM students st
LEFT JOIN examinations ex ON st.student_id = ex.student_id 
GROUP BY st.student_id, st.student_name, ex.subject_name
)
SELECT student_id, student_name, subject_name
FROM student_subject_table as sst
LEFT JOIN score_table sc ON 
sst.student_id = sc.student_id,
sst.student_name = sc.student_name,
sst.subject_name = sc.subject_name
"""

In [ ]:
"""

WITH student_subject_table as (
    SELECT student_id, student_name, subject_name 
    FROM students
    CROSS JOIN subjects 
), score_table AS 
(SELECT st.student_id, st.student_name, ex.subject_name, COUNT(ex.student_id) as attended_exams
FROM students st
LEFT JOIN examinations ex ON st.student_id = ex.student_id 
GROUP BY st.student_id, st.student_name, ex.subject_name
)
SELECT sst.student_id, sst.student_name, sst.subject_name, COALESCE(sc.attended_exams, 0)  AS attended_exams
FROM score_table sc
RIGHT JOIN student_subject_table sst on 
sc.student_id = sst.student_id AND
sc.student_name = sst.student_name AND
sc.subject_name = sst.subject_name
ORDER BY student_id, subject_name
"""

In [ ]:
"""
WITH student_subject_table as (
    SELECT student_id, student_name, subject_name 
    FROM students
    CROSS JOIN subjects 
), score_table AS 
(SELECT st.student_id, st.student_name, ex.subject_name, COUNT(ex.student_id) as attended_exams
FROM students st
RIGHT JOIN examinations ex ON st.student_id = ex.student_id 
GROUP BY st.student_id, ex.subject_name
)
SELECT sst.student_id, sst.student_name, sst.subject_name, COALESCE(sc.attended_exams, 0)  AS attended_exams
FROM score_table sc
RIGHT JOIN student_subject_table sst on 
sc.student_id = sst.student_id AND
sc.subject_name = sst.subject_name
# WHERE sst.student_name IS NOT NULL
ORDER BY student_id, subject_name

"""