In [1]:
link = "https://leetcode.com/problems/not-boring-movies/description/?envType=study-plan-v2&envId=top-sql-50"

In [6]:
import pandas as pd

# Create a list of dictionaries
data = [
    {"id": 1, "movie": "War", "description": "great 3D", "rating": 8.9},
    {"id": 2, "movie": "Science", "description": "fiction", "rating": 8.5},
    {"id": 3, "movie": "irish", "description": "boring", "rating": 6.2},
    {"id": 4, "movie": "Ice song", "description": "Fantacy", "rating": 8.6},
    {"id": 5, "movie": "House card", "description": "Interesting", "rating": 9.1},
]

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
df.head()

   id       movie  description  rating
0   1         War     great 3D     8.9
1   2     Science      fiction     8.5
2   3       irish       boring     6.2
3   4    Ice song      Fantacy     8.6
4   5  House card  Interesting     9.1

In [7]:
df = df[~df["description"].str.contains("boring")]
df = df[~df["id"] % 2 == 0]
df = df.sort_values("rating", ascending=False )
df

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9

In [ ]:
""