In [ ]:
mysql = """
# Write your MySQL query statement below
# Write your MySQL query statement below
WITH timeout_table AS 
(
SELECT c.user_id, COUNT(c.action) as timeout_count
FROM confirmations c
WHERE c.action = 'timeout'
GROUP BY c.user_id 
), confirm_table AS (
    SELECT c.user_id, COUNT(c.action) as confirm_count
    FROM confirmations c
    WHERE c.action = "confirmed"
    GROUP BY c.user_id
), total_table AS (
    SELECT c.user_id, COUNT(c.action) as total_count
    FROM confirmations c
    GROUP BY c.user_id
), count_table AS (
SELECT s.user_id, COALESCE(tt.timeout_count, 0) as timeout_count, COALESCE(ct.confirm_count, 0) AS confirm_count, COALESCE(tot.total_count, 1) AS total_count
FROM signups s
LEFT JOIN total_table tot ON tot.user_id = s.user_id 
LEFT JOIN timeout_table tt ON tt.user_id = s.user_id 
LEFT JOIN confirm_table ct ON ct.user_id = s.user_id 
) 
SELECT ct.user_id, ROUND(ct.confirm_count/ct.total_count, 2) as confirmation_rate
FROM count_table ct
"""