In [1]:
link = "https://leetcode.com/problems/managers-with-at-least-5-direct-reports/description/?envType=study-plan-v2&envId=top-sql-50"

In [2]:
mysql = """
# Write your MySQL query statement below
WITH manager_table AS
(
    SELECT managerId, COUNT(managerId) as underline
FROM employee e
WHERE managerId is not null
GROUP BY e.managerId
)
SELECT e.name
FROM employee e 
LEFT JOIN manager_table m ON m.managerId = e.id
WHERE m.underline >4
"""